* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s linear, color 0.3s linear;
    font-family: "Montserrat", sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    background-color: var(--color-bg);
    background-image: var(--bg-image);
    background-size: cover;
    /* şəkil bütün sahəni doldurur */
    background-repeat: no-repeat;
    /* təkrar olmasın */
    background-position: center center;
    /* sənin istədiyin mövqe */
    background-attachment: fixed;
    /* parallax effekti üçün (isteğe bağlı) */
    image-rendering: -webkit-optimize-contrast;
}

.badge {
    display: flex;
    padding: var(--spacing-2) var(--spacing-4);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: var(--color-primary-light);
    color: var(--color-primary);
    font-size: var(--font-size-sm);
    font-weight: 500;
    border-radius: var(--radius-round);
    width: max-content;
    cursor: default;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
    text-decoration: none;
    font-weight: 500;
    background: var(--color-surface);
    color: var(--color-neutral-900);
    border: 1.5px solid var(--color-neutral-900);
}

.btn i.arrow {

    width: max-content;
    display: grid;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    color: var(--color-neutral-900);
    border-radius: var(--radius-round);
    text-decoration: none;
    transition: all 0.3s linear;
    border: 1.5px solid var(--color-neutral-900);

}

.btn-small i.arrow {
    font-size: var(--font-size-xs);
    padding: var(--spacing-1);
}

.btn-medium i.arrow {
    font-size: var(--font-size-sm);
    padding: var(--spacing-2);
}

.btn-big i.arrow {
    font-size: var(--font-size-base);
    padding: var(--spacing-2);
}

.btn:hover {
    background: var(--color-primary);
    color: #ffffff;
    border-color: var(--color-primary);
}

.btn:hover i.arrow {
    background: #FFFFFF;
    color: var(--color-primary);
    border-color: #FFFFFF;
    transform: rotate(-45deg) scale(1.1);
}


.btn-small {
    padding: var(--spacing-2) var(--spacing-3);
    gap: var(--spacing-2);
    border-radius: var(--radius-round);
    font-size: var(--font-size-sm);
}

.btn-medium {
    padding: var(--spacing-3) var(--spacing-5);
    gap: var(--spacing-3);
    border-radius: var(--radius-round);
    font-size: var(--font-size-base);
}



.btn-big {
    padding: var(--spacing-4) var(--spacing-6);
    gap: var(--spacing-4);
    border-radius: var(--radius-round);
    font-size: var(--font-size-md);
}



.btn-primary {
    background: var(--color-primary) !important;
    color: #FFFFFF !important;
    border: 0px;
}

:root {
    /* Brand */
    --color-primary: #014EFF;
    --color-primary-dark: #002983;
    --color-primary-light: rgba(1, 78, 255, 0.10);
    --color-primary-white: #FFFFFF;
    --gradient-primary: linear-gradient(90deg, #004EFF 0%, #002983 100%);

    /* Neutrals */
    --color-neutral-900: #000000;
    --color-neutral-700: #3C3C3C;
    --color-neutral-300: #CECECE
        /*#CECECE*/
    ;

    /* Light mode surfaces */
    --color-bg: #F3F3F3;
    --color-glass: #f3f3f350;
    --color-surface: #FFFFFF;
    
    /* Background images */
    --bg-image: url('./assets/images/settings/Light-bg.svg');

    --bg-glass: linear-gradient(116deg,
            rgba(var(--color-bg-rgb, 243, 243, 243), 0.60) 10.92%,
            rgba(var(--color-surface-rgb, 255, 255, 255), 0.08) 96.4%);

    --radius-xs: 2px;
    --radius-sm: 4px;
    --radius-md: 6px;
    --radius-lg: 8px;
    --radius-xl: 12px;
    --radius-2xl: 16px;
    --radius-3xl: 24px;
    --radius-4xl: 32px;
    --radius-round: 9999px;
    --radius-oval: 50%;


    /* --font-size-xs: 10px;
    --font-size-sm: 12px;
    --font-size-base: 14px;
    --font-size-md: 15px;
    --font-size-lg: 17px;
    --font-size-xl: 20px;
    --font-size-2xl: 22px;
    --font-size-3xl: 26px;
    --font-size-4xl: 30px;
    --font-size-5xl: 36px;
    --font-size-6xl: 44px;
    --font-size-7xl: 52px;

    --spacing-1: 2px;
    --spacing-2: 4px;
    --spacing-3: 6px;
    --spacing-4: 8px;
    --spacing-5: 12px;
    --spacing-6: 14px;
    --spacing-7: 18px;
    --spacing-8: 24px;
    --spacing-9: 28px;
    --spacing-10: 36px;
    --spacing-main: 16px;
    --spacing-11: 48px; */

    --font-size-xs: 10px;
    --font-size-sm: 12px;
    --font-size-base: 14px;
    --font-size-md: 15px;
    --font-size-lg: 17px;
    --font-size-xl: 20px;
    --font-size-2xl: 22px;
    --font-size-3xl: 26px;
    --font-size-4xl: 30px;
    --font-size-5xl: 36px;
    --font-size-6xl: 44px;
    --font-size-7xl: 52px;

    --spacing-1: 3px;
    --spacing-2: 6px;
    --spacing-3: 8px;
    --spacing-4: 12px;
    --spacing-5: 14px;
    --spacing-6: 18px;
    --spacing-7: 22px;
    --spacing-8: 28px;
    --spacing-9: 34px;
    --spacing-10: 44px;
    --spacing-main: 24px;
    --spacing-11: 60px;

}


:root[data-theme="dark"] {
    /* Brand override */
    --gradient-primary: linear-gradient(90deg, #004EFF 0%, #E9EDFF 100%);
    --color-primary-light: rgba(1, 77, 255, 0.14);

    /* Neutrals */
    --color-neutral-900: #F0F2F5;
    --color-neutral-700: #A1A6B4;
    --color-neutral-300: #363b5c
        /*1C1F32*/
        /*262a44*/
    ;

    /* Dark mode surfaces */
    --color-bg: #0B0E1B;
    --color-glass: #0b0e1b50;
    --color-surface: #14172B;
    
    /* Background images */
    --bg-image: url('./assets/images/settings/Dark-bg.svg');
    
    --bg-glass: linear-gradient(116deg,
            rgba(11, 14, 27, 0.75) 10.92%,
            rgba(20, 23, 43, 0.35) 96.4%);
}


@media (min-width:768px) {
    :root {
        --font-size-xs: 11px;
        --font-size-sm: 13px;
        --font-size-base: 15px;
        --font-size-md: 17px;
        --font-size-lg: 19px;
        --font-size-xl: 22px;
        --font-size-2xl: 26px;
        --font-size-3xl: 30px;
        --font-size-4xl: 36px;
        --font-size-5xl: 42px;
        --font-size-6xl: 50px;
        --font-size-7xl: 58px;

        --spacing-1: 3px;
        --spacing-2: 7px;
        --spacing-3: 10px;
        --spacing-4: 14px;
        --spacing-5: 18px;
        --spacing-6: 22px;
        --spacing-7: 26px;
        --spacing-8: 32px;
        --spacing-9: 40px;
        --spacing-10: 52px;
        --spacing-main: 32px;
        --spacing-11: 72px;
    }
}

@media (min-width:1080px) {
    :root {
        --font-size-xs: 12px;
        --font-size-sm: 14px;
        --font-size-base: 16px;
        --font-size-md: 18px;
        --font-size-lg: 20px;
        --font-size-xl: 24px;
        --font-size-2xl: 28px;
        --font-size-3xl: 32px;
        --font-size-4xl: 38px;
        --font-size-5xl: 44px;
        --font-size-6xl: 52px;
        --font-size-7xl: 60px;

        --spacing-1: 4px;
        --spacing-2: 8px;
        --spacing-3: 12px;
        --spacing-4: 16px;
        --spacing-5: 20px;
        --spacing-6: 24px;
        --spacing-7: 30px;
        --spacing-8: 36px;
        --spacing-9: 44px;
        --spacing-10: 60px;
        --spacing-main: 48px;
        --spacing-11: 84px;

    }
}

@media (min-width:1280px) {
    :root {
        --font-size-xs: 12px;
        --font-size-sm: 14px;
        --font-size-base: 16px;
        --font-size-md: 18px;
        --font-size-lg: 20px;
        --font-size-xl: 24px;
        --font-size-2xl: 32px;
        --font-size-3xl: 32px;
        --font-size-4xl: 40px;
        --font-size-5xl: 48px;
        --font-size-6xl: 56px;
        --font-size-7xl: 64px;

        --spacing-1: 4px;
        --spacing-2: 8px;
        --spacing-3: 12px;
        --spacing-4: 16px;
        --spacing-5: 20px;
        --spacing-6: 24px;
        --spacing-7: 32px;
        --spacing-8: 40px;
        --spacing-9: 48px;
        --spacing-10: 64px;
        --spacing-main: 64px;
        --spacing-11: 96px;
    }
}